.home-container {
  height: 100vh;
  background-image: url('./images/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


.home-text {
  display: flex;
  flex-direction: column;
  background-color: rgba(30,30,30,0.8);
  width: 30vw;
  height:100vh;
  color: white;
  padding: 20px;
}
}