.home-body {
  height: calc(100vh - 20% - 118px);
  background-color: black;
  overflow: hidden; // prevents user scrolling through text
  position: relative;
  padding: 70% 0 0 0;


}
// .home-body::after {
//   content: '';
//   position: fixed;
//   top: 20%;
//   width: 100%;
//   height:10%;
//   background: linear-gradient(180deg,(rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%));
// }

.text-wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 300px;

}

.scroll-text {
  color: #ffc909;
  font-size: 3vw;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 60s linear forwards;
  h1, h3 {
    text-align: center;
    font-weight: bold;
  }
}



@keyframes scroll{
  from {top:0; transform: translateZ(0) rotateX(20deg)} 
  to {top: -7500px; transform: translateZ(-2500px) rotateX(21deg)}
}