@import './variables.scss';
@import './About.scss';
@import './Home.scss';
@import './NotFound.scss';
@import './PageFooter.scss';
@import './PageNavbar.scss';
@import './Projects.scss';
@import './skills.scss';

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  height: calc(100vh - 200px);
}

@media (max-width: 768px) {
  .tag-title {
    opacity: 1;
  }
  .home-text {
    min-width: 50vw;
  }
  .project-container {
    display: flex;
    flex-direction: column-reverse;
  }
}