.navbar {
  background-color: black;
  width: 100vw;
  height: 10vh;
  .navbar-link {
    color: rgba(255,255,255,0.8);
    padding-right: 10px;
    &:hover {
      color: white;
    }
  }
}
.toggle {
  background-color: grey;
}

@media screen and (max-width: 768px) {
  .navbar-link {
    background-color: red;
  }
}
// <!--Navbar-->
// <nav class="navbar navbar-light amber lighten-4 mb-4">

//   <!-- Navbar brand -->
//   <a class="navbar-brand" href="#">Navbar</a>

//   <!-- Collapse button -->
//   <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
//     aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
//     <div class="animated-icon1"><span></span><span></span><span></span></div>
//   </button>

//   <!-- Collapsible content -->
//   <div class="collapse navbar-collapse" id="navbarSupportedContent20">

//     <!-- Links -->
//     <ul class="navbar-nav mr-auto">
//       <li class="nav-item active">
//         <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
//       </li>
//       <li class="nav-item">
//         <a class="nav-link" href="#">Features</a>
//       </li>
//       <li class="nav-item">
//         <a class="nav-link" href="#">Pricing</a>
//       </li>
//     </ul>
//     <!-- Links -->

//   </div>
//   <!-- Collapsible content -->

// </nav>
// <!--/.Navbar-->
