.navbar {
  background-color: black;
  width: 100vw;
  height: 10vh;
  .navbar-link {
    color: rgba(255,255,255,0.8);
    padding-right: 10px;
    &:hover {
      color: white;
    }
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
.email {
  max-height: 80px;
  color: rgba(255,255,255,0.8);
  &:hover {
    color:white;
    }
}
  .linkedIn {
    max-height: 55px;
    padding-right: 20px;
    color: rgba(255,255,255,0.8);
      &:hover {
        color:white;
      }
}
  .github {
  max-height: 45px;
  color: rgba(255,255,255,0.8);
    &:hover {
      color:white;
    }
  }
}
.email {
  max-height: 70px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    }
}
  .linkedIn {
    max-height: 45px;
    padding-right: 20px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      }
}
  .github {
  max-height: 35px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    }
  }


@media screen and (max-width: 768px) {
  .navbar-link {
    text-align: center;
    background-color: blueviolet;
    border-radius: 5px;
  }
  .header-icons {
    background-color: blueviolet;
    border-radius: 5px;
    opacity: 1;
  }
  .navbar-main.container {
    display:flex;
    justify-content: flex-end;
  }
}
