.navbar {
  background-color: black;
  width: 100vw;
  height: 10vh;
  .navbar-link {
    color: rgba(255,255,255,0.8);
    padding-right: 10px;
    &:hover {
      color: white;
    }
  }
}

.toggle {
  background-color: grey;
}

@media screen and (max-width: 768px) {
  .navbar-link {
    background-color: red;
  }
}
